body {
    font-family: Verdana;
    font-family: 'PT Sans';
    margin-top: 0px;
    margin: 0;
    padding: 0;
    background-color: #E0FFDF;
    color: #012B3B;
}



#web {
    margin-left:10px;
    margin: 1;
  padding: 0;
}
a {
    text-decoration-color: #002A3C;
    color: #002A3C;
} 

#space {
            display: block;
            content: "";
            margin-bottom: 50px;
            }
.title {
  margin: 0;
  padding: 0;
}

.title-box {
  padding: 0px;
  margin: 0;
  padding: 0;
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  
}

.title {
  margin: 0;
  text-align: center;
}

.footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 50px; /* Ajusta este valor según la altura deseada para el footer */
      margin-bottom: 10px;
     background-color: #002A3C;
    }
#cent {
    text-align: center;
    font-size: 400%;
    animation: y;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


#sp{
display: block;
content: "";
    margin-top: 15px;
}
#texto-cambiante {
  display: inline-block;
  opacity: 0;
  animation: escribir 2s 1s forwards;
}

#titulo {
    position: relative;
}


@keyframes escribir {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes y{
    0% { transform: translateY(0); }
        50% { transform: translateY(-40px); }
        10% { transform: translateY(0); }
    
}









/* Media queries para dispositivos de pantalla pequeña */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 30px;
    }

    a {
        font-size: 27px;
    }

    footer {
        font-size: 28px;
    }
}

            

/*responsive
/* Media queries para dispositivos de pantalla mediana */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 45px;
    }

    a {
        font-size: 39px;
    }

    footer {
        font-size: 21px;
    }
}

/* Media queries para dispositivos de pantalla grande */
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 58px;
    }

    a {
        font-size: 52px;
    }

    footer {
        font-size: 44px;
    }
}
